/*h3 {*/
/*color: blue;*/
/*}*/
body.resume-bk {
    background-color: #f5f5f5;
    background-image: url(../img/main_bg.png);
    background-size: cover;

}

.header {

    text-align: center;
}

.header ul.menu {
    list-style-type: none;
    text-align: right;
    width: 90%
}

.header ul.menu li.menu-item, .header ul.menu li.last-menu-item {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid lightgrey;
    padding: 2px 5px 2px 2px;
}

.header ul.menu a {
    text-decoration: none;
    padding: 2px 2px 6px 2px;
    color: #9e9e9e;
}

.header ul.menu a:hover {
    color: #000;
    border-bottom: 2px solid #39c981;
}

.header ul.menu li.last-menu-item {
    border-right: none;
}

.header col-right {

    width: 75%;
    float: right;
}

.container {
    margin: 0 auto;
}

.profile-card {

    width: 85%;
    margin: 0 auto; /* align center */
    border-radius: 15px;
    /*padding: 3px;*/
}

.col-left {
    width: 45%;
    float: left;

}

.col-right {
    width: 55%;
    float: right;

}

.clear {
    clear: both;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 2px;
}

.card-info-wrapper {
    z-index: 1;
}

.profile-card .card-header {
    padding: 30px;
    background-color: #39c981;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url("../img/main_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-card .card-header .profile-info {
    vertical-align: center;

    margin: 80px 0px 0px 0px;
    text-align: center;
    z-index: 100;
}

.profile-card .card-header .profile-info h2 {
    font-size: 33px;
    color: white;
}

.profile-card .card-header .profile-info > div.short-description  {
    margin: 25px 25px 25px 25px;
    font-size: 19px;
    color: white;
    margin: 15px 15px
}

.profile-card .card-header .profile-info .social-links a {
    border-radius: 22px;
    text-align: center;
    background-color: white;
    color: #9e9e9e;
    display: inline-block;
    width: 35px;
    height: 35px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    z-index: 100;
}

.profile-card .card-header .profile-info .social-links a i {
    line-height: 24px;
    z-index: 100;
}

.profile-card .card-header .img-wrapper {
    /*max-width: 200px;*/
    width: 90%;
    height: 90%;
    /*margin: 0 auto; !* align center *!*/
    margin: 0px 0px -39px 0px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 2px;
}
.profile-card .card-header .img-wrapper a{
    /*max-width: 200px;*/
    width:100%;
    padding: 0px 0px 0px 0px;

}
.profile-card .card-header .img-wrapper img {

    width: 100%;
    height: 80%;

}

.profile-card .card-body .profile-detail h3 {
    text-align: center; /* align center */
    font-size: 14px;
}

.profile-card .card-body .profile-detail p {
    text-align: center; /* align center */
    font-size: 14px;
}

.profile-card .card-body .col-right {
    width: 50%;
}

.profile-card .card-body .personal-info .col-left {
    width: 20%;
}

.profile-card .card-body .personal-info .col-right {
    width: 80%;
}

.profile-card .card-body .personal-info .col-left p {
    font-size: 13px;
    font-weight: bold;

}

.profile-card .card-body .personal-info .col-right p {
    font-size: 13px;
    color: #9e9e9e;
}

.font-green {
    color: #39c981 !important;
    font-weight: bold;
}
#home{
    display: none;
}

#resume{
    display: block;
}
#service{
    display: none;
}
#blog{
    display: none;
}
#contact{
    display: none;
}
.profile-card .card-header-v2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px 19px 30px 19px;
    margin:0px auto;
    background-color: #39c981;
    background-image: url("../img/main_bg.png");
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    width:97%;
}
.profile-card .card-header-v2 h2{
    font-family: sans-serif;
    /*padding: 20px 10px 20px 10px;*/
    text-align: center;
    margin:0px auto;
}

.profile-card .card-body-v2{

    margin:10px 20px 10px 20px;
    width:100%;
}
/*.overlay {*/
    /*background-color: #000000;*/
    /*background: url("../img/main_bg.png") no-repeat 100% 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0px;*/
    /*!*z-index: 1;*!*/
/*}*/

